h1{
    color: crimson;
    font-weight: bold;
    font-style: italic;
}
body{
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
h2{
    color: aquamarine;
    background-color: green;
}
a{
    text-decoration: none;
}